{{ define "main" }}
<div class="row">
    <div class="col-lg-8">
        <div id="map-wrapper" class="mb-2">
            <img src="{{ "assets/campus_map.jpg" | relURL }}" alt="Map" class="img-fluid">
            <div id="overlay" class="map-layer"></div>
            <div id="map-feedback-overlay" class="map-feedback-overlay"></div>
        </div>
        <div class="text-end mb-4">
            <a href="https://www.kyoto-su.ac.jp/campus/cam_map/" target="_blank" class="footer-link small"><i class="bi bi-link-45deg"></i> 京都産業大学 キャンパスマップ</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="shop-grid" class="d-flex flex-column gap-2 w-100"></div>
    </div>
</div>
<div id="tooltip"></div>
{{ end }}
